{% extends '_base.html' %} {% block content %}
<div class="container-lg d-flex flex-column gap-3 py-3">
  <div class="row">
    <div class="col">
      <h1>Feedback Detail</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered align-middle shadow-sm">
        <thead>
          <tr>
            <th class="text-center">Field</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>ID</th>
            <td>{{feedback.id}}</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{feedback.name}}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{feedback.email}}</td>
          </tr>
          <tr>
            <th>Subject</th>
            <td>{{feedback.subject}}</td>
          </tr>
          <tr>
            <th>Message</th>
            <td>{{feedback.message}}</td>
          </tr>
          <tr>
            <th>Is Replied</th>
            <td>{{feedback.is_replied}}</td>
          </tr>
          <tr>
            <th>Created On</th>
            <td>{{feedback.created_on}}</td>
          </tr>
          <tr>
            <th>Updated On</th>
            <td>{{feedback.updated_on}}</td>
          </tr>
          <tr>
            <th>Actions</th>
            <td>
              <div class="d-flex gap-3 flex-wrap">
                <a
                  href="{% url 'core:feedback_update' feedback.id %}"
                  class="btn btn-primary"
                  >Edit</a
                >
                <a
                  href="{% url 'core:feedback_delete' feedback.id %}"
                  class="btn btn-danger"
                  >Delete</a
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

<!-- 127.0.0.1:8000/feedback/create/ -->
